[workspace]
name = "Swedish Earth Biogenome Project Assembly Pipeline"
version = "0.1.0"
description = "A de novo genome assembly pipeline"
authors = ["Mahesh Binzer-Panchal <mahesh.binzer-panchal@nbis.se>"]
channels = ["conda-forge", "bioconda"]
platforms = ["linux-64", "osx-64", "osx-arm64"]

[tasks]
# Run Nextflow directly
test-docker = "nextflow run main.nf -profile docker,test"
test-singularity = "nextflow run main.nf -profile singularity,test"
dev = { cmd = "nextflow run main.nf -profile docker,test,debug --oatkdb database_cache/OatkDB/v20230921", depends-on = [ "fetch-oatkdb" ] }
# Run nf-tests
nftest-docker = "nf-test test tests/main.nf.test --verbose"
nftest-singularity = "nf-test test tests/main.nf.test --verbose --profile singularity"
# Clean up
clean-work = "nextflow clean -f -before $(nextflow log -q | tail -n 1) && find work/ -type d -empty -delete"
clean-nf = "git clean -fX && rm -rf .nextflow/ work/ .lineage/"
clean-results = "rm -rf results/"
clean-nftest = "rm -rf .nf-test/"
clean-all = { depends-on = [ "clean-nf", "clean-results", "clean-nftest" ] }
# Stage data dependencies
fetch-oatkdb = { cmd = "mkdir -p database_cache && cd database_cache && git clone --depth 1 https://github.com/c-zhou/OatkDB.git", outputs = [ "database_cache/OatkDB" ] }

[dependencies]
nextflow = ">=25.4.8,<26"
mamba = ">=2.3.2,<3"
nf-core = ">=3.3.2,<4"
gh = ">=2.81.0,<3"
