/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

// Test-specific process directives
process {
    cpus           = 1
    memory         = 6.GB
    time           = 10.m

    resourceLimits = [
        cpus: 10,
        memory: 32.GB,
        time: 1.h,
    ]

    withLabel: process_low {
        cpus   = 2
        memory = 6.GB
        time   = 10.m
    }
    withLabel: process_medium {
        cpus   = 6
        memory = 12.GB
        time   = 30.m
    }
    withLabel: process_high {
        cpus   = 10
        memory = 32.GB
        time   = 1.h
    }
    withLabel: process_long {
        time = 1.h
    }
    withLabel: process_high_memory {
        memory = 32.GB
    }

    withName: PRETEXTMAP {
        cpus     = 4
        memory   = 10.GB
        time     = 1.h
        ext.args = { "--sortby ${params.hic_map_sort_by} --mapq ${params.hic_map_qv}" }
    }

    withName: 'ASSEMBLE:ASSEMBLE_HIFI:HIFIASM' {
        ext.args = { '-f 0' }
    }

    // Test data has low mitochondrial coverage
    withName: 'ASSEMBLE:ASSEMBLE_ORGANELLES:OATK' {
        ext.args = {
            [
                reads.name.endsWith(".gfa") ? "-G" : "",
                "-c 2",
            ].minus("").join(" ")
        }
    }
}

profiles {

    singularity {
        singularity.enabled  = true
        singularity.cacheDir = "${projectDir}/.nf-test/singularity"
    }
}
