project:
  type: website

website:
  title: "AGATE User Documentation"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - installation.qmd
      - usage.qmd
      - outputs.qmd
      - faq.qmd
      - about.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



