includeConfig 'tool_resources.config'

process {
    // resource limits are based on most nodes of the abc partition on nac:
    // 15    CfgTRES=cpu=16,mem=120G,billing=16
    //  3    CfgTRES=cpu=36,mem=375G,billing=36
    // MaxTime=30-00:00:00
    // Processes that require more resources need to explicitly overwrite it
    resourceLimits = [
        memory: 120.GB,
        cpus: 16,
        time: 30.d
    ]
    // all processes that need more than the default resources need to be added here:
    // BUT the nac cluster does not have a single node with enough storage -> this 
    // results in a very long runtime due swapping issues, but in principle it should run
    withName: 'FCSGX_RUNGX' {
        cpus       = 16
        time       = 30.d
        memory     = 370.GB
        resourceLimits = [
            memory: 120.GB,
            cpus: 16,
            time: 30.d
        ]
    } 

        
    executor     = 'slurm'
    scratch      = '/scratch'
}
singularity {
    enabled      = true
}
