includeConfig 'tool_resources.config'

process {
    executor     = 'slurm'
    scratch      = '/scratch'
}
singularity {
    enabled      = true
}

// CUSTOM Resource allocations
process {
    // COMPARE_ASSEMBLIES
    withName: 'QUAST' {
        cpus       = { Math.min(6, consensus instanceof List ? consensus.size() : 1 ) }
    }

    // EVALUATE_RAW_ASSEMBLY
    withName: 'EVALUATE_RAW_ASSEMBLY:BUSCO' {
        time       = 4.d
    }

    // FCS
    withName: 'FCSGX_FETCHDB' {
        time       = 2.d
    }
    withName: 'FCSGX_RUNGX' {
        cpus       = 20
        memory     = 1024.GB
        time       = 1.h
    }

    // EVALUATE_PURGED_ASSEMBLY
    withName: 'EVALUATE_PURGED_ASSEMBLY:BUSCO' {
        time       = 4.d
    }

    // scaffolding
    withName: 'PAIRTOOLS_PARSE' {
        cpus       = 12
        memory     = 80.GB
        time       = 2.d
    }

    withName: 'PAIRTOOLS_SORT' {
        cpus       = 16
        memory     = 80.GB
        time       = 1.d
    }

    withName: 'PAIRTOOLS_MERGE' {
        cpus       = 16
    }

    withName: 'PAIRTOOLS_DEDUP' {
        cpus       = 16
        memory     = 30.GB
        time       = 2.d
    }

    withName: 'PAIRTOOLS_SPLIT' {
        cpus       = 16
        memory     = 80.GB
        time       = 2.d
    }

    withName: 'YAHS' {
        cpus       = 2
        memory     = 60.GB
    }

    // Assembly report
    withName: 'QUARTO' {
        time        = 15.m
    }
    withName: 'MULTIQC' {
        time       = 30.m
    }

}
