// Test config - Tiny dataset
resume = true

params {
    input                   = "$projectDir/tests/data/tiny/test_ci_Dmelanogaster.yml"
    steps                   = 'inspect,preprocess,assemble,purge,polish,scaffold,curate'
    outdir                  = "results"
    fastk.kmer_size         = 14
    meryl.kmer_size         = 14
    genescopefk.kmer_size   = 14
    busco.lineages          = 'bacteria_odb10'     //eukaryota_odb10'
    organelle_assembly_mode = 'none'
}

process {

    cpus   = 1
    memory = 6.GB
    time   = 10.m

    withLabel: process_low {
        cpus   = 2
        memory = 6.GB
        time   = 10.m
    }
    withLabel: process_medium {
        cpus   = 6
        memory = 12.GB
        time   = 30.m
    }
    withLabel: process_high {
        cpus   = 10
        memory = 32.GB
        time   = 1.h
    }
    withLabel: process_long {
        time   = 1.h
    }
    withLabel: process_high_memory {
        memory = 32.GB
    }

    withName: 'BUILD_MERYL_HIFI_DATABASE:MERYL_COUNT' {
        cpus   = 3
        memory = 32.GB
        time   = 4.h
    }
    withName: 'BUILD_MERYL_HIC_DATABASE:MERYL_COUNT' {
        cpus   = 3
        memory = 32.GB
        time   = 4.h
    }
    withName: 'BUSCO' {
        cpus   = 10
        memory = 12.GB
        time   = 8.h
    }

    // withName: 'ASSEMBLY_REPORT:QUARTO' {
    //     containerOptions = { 'docker' in workflow.profile.tokenize(',')? '--platform=linux/amd64' : '' }
    // }
}
