// CUSTOM Resource allocations
process {
    // COMPARE_ASSEMBLIES
    withName: 'QUAST' {
        cpus       = { Math.min(6, consensus instanceof List ? consensus.size() : 1 ) }
    }

    // EVALUATE ASSEMBLIES 
    withName: 'BUSCO' {
        time   = { meta.sample.genome_size.toInteger() > 3000000000 ? 4.d : 2.d }
        cpus   = { meta.sample.genome_size.toInteger() > 3000000000 ? 40 : 30 }
        memory = { meta.sample.genome_size.toInteger() > 3000000000 ? 230.GB : 128.GB }
    }

    // FCS
    withName: 'FCSGX_FETCHDB' {
        time       = 2.d
    }

    withName: 'FCSGX_RUNGX' {
        cpus       = 20
        memory     = 1024.GB
        time       = 1.h
    }

    // scaffolding - pairtools parse 
    // runs single threaded but uses 3 decompression and 8 compression threads by default
    // the runtime heavily depends on the HiC file and potentially on IO-load
    withName: 'PAIRTOOLS_PARSE' {
        time   = { meta.sample.genome_size.toInteger() > 3000000000 ? 7.d : 2.d }
        cpus   = 12
        memory = { meta.sample.genome_size.toInteger() > 3000000000 ? 128.GB : 64.GB }
    }

    withName: 'PAIRTOOLS_SORT' {
        time   = { meta.sample.genome_size.toInteger() > 3000000000 ? 7.d : 2.d }
        cpus   = { meta.sample.genome_size.toInteger() > 3000000000 ? 32 : 16 }
        memory = { meta.sample.genome_size.toInteger() > 3000000000 ? 230.GB : 128.GB }
    }

    withName: 'PAIRTOOLS_MERGE' {
        time   = 1.d
        cpus   = { allpairs.size() }
        memory = { "${allpairs.size() * 2} GB" }
    }

    withName: 'PAIRTOOLS_DEDUP' {
        time   = { meta.sample.genome_size.toInteger() > 3000000000 ? 2.d : 1.d }
        cpus   = { meta.sample.genome_size.toInteger() > 3000000000 ? 16 : 12 }
        memory = { meta.sample.genome_size.toInteger() > 3000000000 ? 128.GB : 64.GB }
    }

    withName: 'PAIRTOOLS_SPLIT' {
        time   = { meta.sample.genome_size.toInteger() > 3000000000 ? 2.d : 1.d }
        cpus   = { meta.sample.genome_size.toInteger() > 3000000000 ? 32 : 16 }
        memory = { meta.sample.genome_size.toInteger() > 3000000000 ? 128.GB : 64.GB }
    }

    withName: 'YAHS' {
        time   = { meta.sample.genome_size.toInteger() > 3000000000 ? 12.h : 8.h }
        cpus   = 1
        memory = { meta.sample.genome_size.toInteger() > 3000000000 ? 96.GB : 12.GB }
    }

    withName: 'FASTK_FASTK' {
        time   = { meta.sample.genome_size.toInteger() > 3000000000 ? 2.d : 1.d }
        cpus   = { meta.sample.genome_size.toInteger() > 3000000000 ? 72 : 36 }
        memory = { meta.sample.genome_size.toInteger() > 3000000000 ? 72.GB : 36.GB }
    }

    withName: 'FASTK_MERGE' {
        time   = { meta.sample.genome_size.toInteger() > 3000000000 ? 1.d : 8.h }
        cpus   = { meta.sample.genome_size.toInteger() > 3000000000 ? 72 : 36 }
        memory = { meta.sample.genome_size.toInteger() > 3000000000 ? 96.GB : 30.GB }
    }

    withName: 'MERYL_COUNT' {
        time   = { meta.sample.genome_size.toInteger() > 3000000000 ? 2.d : 1.d }
        cpus   = { meta.sample.genome_size.toInteger() > 3000000000 ? 72 : 24 }
        memory = { meta.sample.genome_size.toInteger() > 3000000000 ? 288.GB : 96.GB }
    }
    // MERYL_UNIONSUM does not scale well with more threads 
    withName: 'MERYL_UNIONSUM' {
        time   = { meta.sample.genome_size.toInteger() > 3000000000 ? 12.h : 8.h }
        cpus   = { meta.sample.genome_size.toInteger() > 3000000000 ? 48 : 16 }
        memory = { meta.sample.genome_size.toInteger() > 3000000000 ? 96.GB : 64.GB }
    }

    withName: 'MERQURY' {
        time   = { meta.sample.genome_size.toInteger() > 3000000000 ? 12.h : 8.h }
        cpus   = { meta.sample.genome_size.toInteger() > 3000000000 ? 48 : 16 }
        memory = { meta.sample.genome_size.toInteger() > 3000000000 ? 128.GB : 96.GB }
    }

    withName: 'MERQURYFK_MERQURYFK' {
        time   = { meta.sample.genome_size.toInteger() > 3000000000 ? 8.h : 4.h }
        cpus   = { meta.sample.genome_size.toInteger() > 3000000000 ? 64 : 32 }
        memory = { meta.sample.genome_size.toInteger() > 3000000000 ? 96.GB : 64.GB }
    }

    withName: 'MERQURYFK_PLOIDYPLOT' {
        time   = { meta.sample.genome_size.toInteger() > 3000000000 ? 8.h : 4.h }
        cpus   = { meta.sample.genome_size.toInteger() > 3000000000 ? 96 : 64 }
        memory = { meta.sample.genome_size.toInteger() > 3000000000 ? 192.GB : 96.GB }
    }

    withName: 'MINIMAP2_ALIGN_READS' {
        time   = { meta.sample.genome_size.toInteger() > 3000000000 ? 1.d : 12.h }
        cpus   = { meta.sample.genome_size.toInteger() > 3000000000 ? 64 : 32 }
        memory = { meta.sample.genome_size.toInteger() > 3000000000 ? 64.GB : 32.GB }
    }

    withName: 'MINIMAP2_ALIGN_ASSEMBLY_PRIMARY' {
        time   = { meta.sample.genome_size.toInteger() > 3000000000 ? 2.d : 1.d }
        cpus   = { meta.sample.genome_size.toInteger() > 3000000000 ? 64 : 32 }
        memory = { meta.sample.genome_size.toInteger() > 3000000000 ? 128.GB : 64.GB }
    }

    withName: 'BWAMEM2_INDEX' {
        time   = { meta.sample.genome_size.toInteger() > 3000000000 ? 1.d : 12.h }
        cpus   = 1
        memory = { meta.sample.genome_size.toInteger() > 3000000000 ? 256.GB : 60.GB }
    }

    withName: 'BWAMEM2_MEM' {
        time   = { meta.sample.genome_size.toInteger() > 3000000000 ? 1.d : 12.h }
        cpus   = { meta.sample.genome_size.toInteger() > 3000000000 ? 96 : 64 }
        memory = { meta.sample.genome_size.toInteger() > 3000000000 ? 596.GB : 120.GB }
    }

    withName: 'HIFIASM' {
        time   = { meta.sample.genome_size.toInteger() > 3000000000 ? 2.d : 1.d }
        cpus   = { meta.sample.genome_size.toInteger() > 3000000000 ? 96 : 46 }
        memory = { meta.sample.genome_size.toInteger() > 3000000000 ? 596.GB : 128.GB }
    }

    withName: 'PURGEDUPS_PURGEDUPS_PRIMARY' {
        time   = { meta.sample.genome_size.toInteger() > 3000000000 ? 12.h : 8.h }
        cpus   = 1
        memory = { meta.sample.genome_size.toInteger() > 3000000000 ? 256.GB : 30.GB }
    }

    withName: 'PURGEDUPS_PBCSTAT' {
        time   = { meta.sample.genome_size.toInteger() > 3000000000 ? 2.h : 1.h }
        cpus   = 1
        memory = { meta.sample.genome_size.toInteger() > 3000000000 ? 16.GB : 8.GB }
    }
    // scales linearly with genome size
    withName: 'GFASTATS' {
        time   = { meta.sample.genome_size.toInteger() > 3000000000 ? 4.h : 1.h }
        cpus   = 1
        memory = { meta.sample.genome_size.toInteger() > 3000000000 ? 64.GB : 8.GB }
    }

    withName: 'SCAFFOLD_CURATION:SAMTOOLS_MERGE_(HIFI|HIC)' {
        cpus       = 8
        memory     = 10.GB
    }

    withName: 'PRETEXTMAP' {
        memory     = 30.GB
    }

    // Assembly report
    withName: 'QUARTO' {
        time        = 15.m
    }
    withName: 'MULTIQC' {
        time       = 30.m
    }
}
