params {
    // SNIC compute allocation id
    project = ''
}

includeConfig 'tool_resources.config'

process {
    // resource limits are based on most nodes of the core partition on Uppmax rackham:
    // CfgTRES=cpu=20,mem=125G,billing=20 
    // and 
    // CfgTRES=cpu=16,mem=249611M,billing=16
    // MaxTime=10-00:00:00
    // Processes that require more resources need to explicitly overwrite it,
    // and use other partitions: e.g. veryfat on SNOWY, or via e.g -C mem1TB
    resourceLimits = [
        memory: 125.GB,
        cpus: 16,
        time: 10.d
    ]
    // all processes that need more than the default resources need to be added here:
    withName: 'FCSGX_RUNGX' {
        cpus       = 16
        time       = 1.h
        clusterOptions = { "-A $params.project -C mem1TB" }
        resourceLimits = [
            memory: 125.GB,
            cpus: 16,
            time: 10.d
        ]
    } 

    executor       = 'slurm'
    clusterOptions = { "-A $params.project" }
    // Use node local storage for execution.
    scratch        = '$SNIC_TMP'

    withName: 'FCSGX_RUNGX' {
        clusterOptions = { "-A $params.project -C mem1TB" }
    }
}
singularity {
    enabled        = true
    envWhitelist   = 'SNIC_TMP'
}
