params {
    // SNIC compute allocation id
    project = ''
}

includeConfig 'tool_resources.config'

process {
    resourceLimits = [
        memory: 125.GB,
        cpus: 16,
        time: 7.d
    ]
    executor       = 'slurm'
    clusterOptions = { "-A $params.project" }
    // Use node local storage for execution.
    scratch        = '$SNIC_TMP'

    withName: 'FCSGX_RUNGX' {
        clusterOptions = { "-A $params.project -C mem1TB" }
    }
}
singularity {
    enabled        = true
    envWhitelist   = 'SNIC_TMP'
}
